// the page settings
$primary-color :hsla(197, 75%, 48%, 0.897);
$font-family:'Helvetica Neue', Arial, sans-serif;
$secondary-color:#F05F40;
$shadow-color:1px 3px 60px rgb(223, 242, 255);
body {
    font-family: 'Merriweather', $font-family; }
  
  hr {
    max-width: 30%;
    border-width: 3px;
    border-color: $secondary-color;
    .light {
      border-color: #fff; 
    }
     }
  
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Open Sans', $font-family; }
  
  
  
  .title{
      text-align:center;
  }

  
.message{
    font-size:10rem;
    text-align: center;
        }
        

// style for the navigation 

@import "./partials/nav";

// style for the navigation 

@import "./partials/header";

// style of 'main.ejs'

@import "./partials/main";

// style of 'main-movie.ejs'

@import "./partials/main-movie";

// style for the navigation 

@import "./partials/footer";

