<html>

<head>
    <%- include partials/basic/head %>


</head>

<body>
    <%- include partials/basic/nav %>
        <%- include partials/basic/header %>
            <div class="box">
                <div class="message" align="center">
                    <h1>OOOOps !!! Page not found </h1>
                </div>
            </div>


            <%- include partials/basic/footer %>
</body>

</html>