<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <h1>Hello movies!</h1>
    <%= movies[1].title %>
        
        <%= movies[0].plot %>
        <br/>
        <!-- <% for (let i = 0; i < movies.length; i++) { %>
            <%= return movies[i].tittle %>
        <% }; %> -->
</body>

</html>