.header {
  padding-right: 4em;
  width: 100%;
  margin: 0;
  background-color: transparent;
  background: url(../img/movie-img.jpg) no-repeat;
  padding-top: 15rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  /*-webkit-background-size: cover;
        -moz-background-size: cover;
      -o-background-size: cover;*/
  background-size: cover;
  color: white; }
  .header h1 {
    color: white; }

.brand_name {
  color: white;
  text-decoration: none;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-left: 0.7em;
  margin-right: 0.2em; }

.brand_name:hover {
  text-decoration: none;
  color: white; }
