body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif; }

hr {
  max-width: 30%;
  border-width: 3px;
  border-color: #F05F40; }
  hr .light {
    border-color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

.title {
  text-align: center; }

.message {
  font-size: 10rem;
  text-align: center; }

.nav_bar {
  width: 100%;
  color: white;
  background: rgba(31, 162, 214, 0.897);
  height: auto;
  position: absolute;
  top: 0; }

.title {
  display: inline-block;
  text-shadow: 1px 3px 60px #dff2ff;
  margin: 1rem; }

.brand_name {
  color: white;
  text-decoration: none;
  font-size: 2.2em;
  text-transform: uppercase; }
  .brand_name:hover {
    text-decoration: none;
    color: white; }

#search-input {
  display: inline-block;
  margin-top: 1em;
  width: 30rem; }
  #search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
  #search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -40px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #F05F40; }

.header {
  padding-right: 4em;
  width: 100%;
  margin: 0;
  background-color: transparent;
  background: url(../img/movie-img.jpg) no-repeat;
  padding-top: 15rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-size: cover;
  color: white; }
  .header h1 {
    color: white; }

.title-page {
  text-shadow: 1px 3px 60px #dff2ff; }

.box {
  padding: 5rem;
  margin: 5rem 0; }

.movie-box {
  margin: 5rem 0; }

.movie-title {
  font-size: 2rem;
  text-shadow: 1px 3px 60px #dff2ff; }

.box1 {
  padding: 5rem; }

.col-md-6.bio-grid-left {
  width: 50%;
  float: left; }

.col-md-6.bio-grid-right {
  width: 50%; }
  .col-md-6.bio-grid-right h3 {
    font-size: 3em;
    color: black;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif; }
  .col-md-6.bio-grid-right p {
    color: black;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
    text-align: justify; }

.bio-img {
  text-align: center;
  border: 5px solid rgba(238, 238, 238, 0.53);
  height: auto;
  padding: 2rem; }
  .bio-img img {
    width: 100%; }
  .bio-img h3 {
    color: black;
    font-size: 2.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif; }
  .bio-img p {
    color: #ffc53e;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px; }

.bio-text {
  text-align: center;
  margin: 2rem; }
  .bio-text p {
    width: 100%; }

.bio-grids {
  padding: 5em 0 0 0; }

.footer {
  width: 100%;
  color: white;
  background: rgba(31, 162, 214, 0.897);
  height: auto;
  bottom: 0;
  margin: 0;
  padding: 1.5rem; }

.middle_form {
  vertical-align: center; }

.btn {
  margin: 2.5rem; }

.btn-primary {
  height: auto; }
