.footer{
    width:100%;
    color:white;
    background:$primary-color;
    height: auto;
    bottom:0;
    margin:0;
    padding:1.5rem;
}

.middle_form{
    vertical-align:center;
}

.btn {
    margin: 2.5rem;
}

.btn-primary{
    height:auto;
}
