<footer class="footer">
    <div class="row">
        <div class="col-12 col-lg-6">
            <form class="needs-validation" novalidate>
                <div class="form-row middle_form">
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip01">First name</label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" required>
                        <div class="valid-tooltip">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip02">Last name</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" required>
                        <div class="valid-tooltip">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip03">E-mail</label>
                        <input type="text" class="form-control" id="validationTooltip03" placeholder="E-mail" required>
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>

            </form>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row footer_grid">
                <div class="col-4 col-md-4 footer_grid_left">
                    <div class="footer_grid_leftl">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="footer_grid_leftr">
                        <h4>Location</h4>
                        <p>3030 New York, NY, USA</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class=" col-4col-4 col-md-4 footer_grid_left">
                    <div class="footer_grid_leftl">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="footer_grid_leftr">
                        <h4>Email</h4>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-4 col-md-4 footer_grid_left">
                    <div class="footer_grid_leftl">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="footer_grid_leftr">
                        <h4>Call Me</h4>
                        <p>(+000) 003 003 0052</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
</footer>
