<header class="header">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="text-uppercase title-page" align="center">
                    <h1>I love watching movies</h1>
                </div>
                <hr>
            </div>
        </div>

    </div>

</header>