<nav class="nav_bar">
    <div class="col-lg-4">
        <a class="brand_name js-scroll-trigger" href="/">My movies</a>
    </div>

    <div class="col-lg-4">
        <form class="form-inline" method="GET" action="/search">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="inputPassword2" placeholder="search" name="searchTerm">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>

    <div class="col-lg-4">
        <div class="menu">
            <ul class="dropdown_content_lg">
                <li>
                    <a class="link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>

    </div>
</nav>